zbody
{
  font-size: 4vmin;
}

.addpadding {
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.mme-logo {
	padding-top: 12px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.hvcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.ingredientNote {
	font-size: -1;
	color: #999999;
}

.recipe-top {
	top: 2px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.recipe-middle {
	top: 60px;
	left: 8px;
	right: 8px;
	zzzheight: calc(100% - 60px);
	zzzoverflow-y: auto;
	min-height: calc(100% - 88px);
}

.recipeImage {
    float: right;
	width: calc(100% / 2);
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.recipeContent {
	zzzfont-size: 3vw;
	font-size:calc(12px + 1.5vw);
	padding-left: 30px;
}

.recipe-ingredient-bar {
	transform: rotate(90deg);
	transform-origin: left bottom 0;

	zzfloat: left;
	text-align: center;
	padding-left: 20px;
    display:block;
    bottom:0;
    width: 300px; /*calc(height - 60x); */
    height: 20px;
	background-color: #AAAAAA;
	padding-top: 5px;
		
}

.ingredientSectionHeading {
	font-size: +1;
	font-weight: bold;
}

.navbutton {
	width: 4em;
	text-align: center;
}